.sidebar {
  background-color: #01264a;
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar h2 {
  color: #fff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar li {
  margin-bottom: 50px;
  font-size: 16px;
  color: #fff; /* White text color */
  display: flex;
  align-items: center;
  position: relative;
}

.dot {
  width: 10px;
  height: 10px;
  border: 1.5px solid white;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar li.active .dot {
  background-color: #fff;
}

/* Style the connectors for active and non-active steps */
.sidebar li:not(:first-child):after {
  content: "";
  position: absolute;
  top: -283%;
  left: 7px;
  transform: translateX(-50%);
  width: 1px;
  height: calc(100% + 38px);
  border-left: 1px solid #fff;
}

.sidebar li:not(.active):after {
  border-left: 1px dotted #fff;
}

.default-text {
  color: #ccc; /* Light gray color for the hint text */
}

.logo {
  margin-top: 20px;
  margin-bottom: 80px;
}
